<style type="text/css">
   .field{
    font-size: 20px;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
   }
</style>

<%= form_with(model: water) do |form| %>
  <% if water.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(water.errors.count, "error") %> prohibited this water from being saved:</h2>

      <ul>
        <% water.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= form.label :title %></b>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <b><%= form.label :unit %></b>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <b><%= form.label :amount %></b>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <b><%= form.label :time %></b>
    <%= form.datetime_select :time %>
  </div>

  <div class="actions">
  <button type="button" class="btn btn-info"><%= form.submit %></button>
  </div>
<% end %>
