<%= form_with(model: water) do |form| %>
  <% if water.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(water.errors.count, "error") %> prohibited this water from being saved:</h2>

      <ul>
        <% water.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
