<style type="text/css">
  body{ background: lightgrey !important;
  }
  strong{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  } 
  big{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <big><%= @water.title %></big>
</p>

<p>
  <strong>Unit:</strong>
  <big><%= @water.unit %></big>
</p>

<p>
  <strong>Amount:</strong>
  <big><%= @water.amount %></big>
</p>

<p>
  <strong>Time:</strong>
  <big><%= @water.time %><big>
</p>

<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_water_path(@water) %></button>
<button type="button" class="btn btn-info"><%= link_to 'Back', waters_path %></button>
